@media screen and (min-width: 48rem) {
    .menu-toggle {
        display: none
    }

    .site-nav {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        padding: 0 1rem 1rem;
        border-top: none;
    }

    .nav-link {
        border-bottom: none;
        border-radius: 10px;
        padding: .7rem 1rem;
    }

    .main {
        padding: 1.25rem 1rem;
        grid-template-columns: 2fr 1.2fr;
        align-items: start;
    }

    .certificate {
        grid-column: 1 / -1;
    }

    h1 {
        grid-column: 1 / -1
    }
}